# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.tlog
*.log
hpos/Debug/hpos.exe.embed.manifest
hpos/Debug/hpos.exe.embed.manifest.res
hpos/Debug/hpos.exe.intermediate.manifest
*.ilk
*.lastbuildstate
*.obj
*.pdb
hpos/Debug/hpos_manifest.rc
*.idb
*.sdf
*.suo
*.user
hpos/Release/hpos.exe.intermediate.manifest
*.nmea
*.ipch
*.cache
*.opensdf
*.xls
*.csv
*.kml
jdots/Debug/jdots.exe.embed.manifest
jdots/Debug/jdots.exe.embed.manifest.res
jdots/Debug/jdots_manifest.rc
jdots/Debug/jdots.exe.intermediate.manifest
jdots/Release/jdots.exe.intermediate.manifest
